<ion-toolbar color="primary">
  <ion-title size="large">SmartHome | Mis Dispositivos </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  
  <ion-list> 
    <ion-item *ngFor="let dispositivo of dispositivos"  href="/dispositivos/{{dispositivo.dispositivoId}}" routerDirection="root">
      <ion-avatar slot="start">
        <ion-icon size="large" name="thermometer-outline"></ion-icon>
      </ion-avatar>

      <ion-label>
        <h2> <strong>{{dispositivo.nombre}}</strong></h2>
        <h3><ion-icon name="location-outline"></ion-icon> {{dispositivo.ubicacion}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

