<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item slot="start" color="primary" href="/home">
      <ion-icon size="large" name="home-outline"></ion-icon>
      <ion-title> SmartHome </ion-title>
    </ion-item>
    

<ion-button fill="clear" color="light" fill="outline" routerLink="/mediciones/{{ this.dispositivoId }}">
  <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
  <b>Ver todas las mediciones</b>
</ion-button>

<ion-button fill="clear" color="light" fill="outline">
  <b>Ver Log Riegos</b>
  <ion-icon slot="start" name="water-outline"></ion-icon>
</ion-button>

<ion-button fill="clear" color="light" fill="outline">
  <b>Abrir electroválvula</b>
  <ion-icon slot="start" name="play-outline"></ion-icon>
</ion-button>

<ion-card>
  <ion-card-header>
    <div style="display: flex; align-items: center;">
      <ion-icon size="large" name="thermometer-outline" style="margin-right: 10px;"></ion-icon>
      <ion-card-title>
        Sensor {{dispositivoId}}
      </ion-card-title>
    </div>
  </ion-card-header>
</ion-card>