<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item slot="start" color="primary" href="/home">
      <ion-icon size="large" name="home-outline"></ion-icon>
      <ion-title> SmartHome </ion-title>
    </ion-item>
    

<ion-button shape="round" fill="clear" color="light" routerLink="/mediciones/{{ this.dispositivoId }}">
  <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
  <b>Ver todas las mediciones</b>
</ion-button>

<ion-button shape="round" fill="clear" color="light">
  <b>Ver Log Riegos</b>
  <ion-icon slot="start" name="water-outline"></ion-icon>
</ion-button>


<ion-card>
  <ion-card-header>
    <div style="display: flex; align-items: center;justify-content: center;">  
      <ion-icon size="large" name="thermometer-outline" style="margin-right: 10px;"></ion-icon>
      <ion-card-title>
        Sensor {{dispositivoId}} 
      </ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <div style="display: flex; align-items: center;justify-content: center;">  
    <ion-card-header>
      <div id="highcharts" style="width: 100%; height: 400px;"></div>
    </ion-card-header>
  </div>
</ion-card>

<ion-card-content>
  <ion-button color="success" shape="round" *ngIf="medicion.valor > 30 && accion_electrovalvula==ABRIR_ELECTROVALVULA" appColorFondo expand="block" (click)="clickElectrovalvula()">
    <ion-icon slot="start" name="play-outline"></ion-icon> {{accion_electrovalvula}} Electroválvula </ion-button>
  <ion-button color="danger" shape="round" *ngIf="medicion.valor <= 30 || accion_electrovalvula==CERRAR_ELECTROVALVULA"  expand="block"  (click)="clickElectrovalvula()">
    <ion-icon slot="start" name="pause-outline"></ion-icon> {{accion_electrovalvula}} Electroválvula</ion-button>
</ion-card-content>

