<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item slot="start" color="primary">
      <ion-icon size="large" name="thermometer-outline"></ion-icon>
      <ion-title>Sensor {{this.dispositivoId}}</ion-title>
    </ion-item>

<ion-button fill="clear" color="light">
  <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
  <b>Ver todas las mediciones</b>
</ion-button>

<ion-button fill="clear" color="light">
  <b>Ver Log Riegos</b>
  <ion-icon slot="start" name="water-outline"></ion-icon>
</ion-button>

<ion-button fill="clear" color="light">
  <b>Abrir electroválvula</b>
  <ion-icon slot="start" name="play-outline"></ion-icon>
</ion-button>

<ion-card>
  <ion-card-header>
    <ion-card-title>Dispositivo {{dispositivoId}}</ion-card-title>
    <ion-card-subtitle>Ubicación: {{dispositivo.ubicacion}}</ion-card-subtitle>
  </ion-card-header>

</ion-card>